<!doctype html>
<html lang='en'>

    <head>
        <!-- Installing Jquery and bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/styles.css">
        

        <title>Dragonfire Character Generator</title>

    </head>

    <body>
        
        <div>
            
            <h1> 
                <img src="images/Dragonfire Title.JPG" width="100%" alt="title name">
                <p style=text-align:center;>{{title}}</p>
            </h1>
            <h2>
                Login or Logout

            </h2>
            <form>
                <h3>
                    <div class = "container" id="charBasics">
                        Character Name:<input id="charName" type="text" value="">
                        <!-- Not implimented this build
                        Character Exp:<input id="charExp" type="number" value=0>
                        -->
                        Race:<select id="charRace">
                            <option value='Human'>Human</option>
                            <option value='Elf'>Elf</option>
                            <option value='Dwarf'>Dwarf</option>
                            <option value='Dragonborn'>Dragonborn</option>
                            <option value='Half-Elf'>Half-Elf</option>
                            <option value='Halfling'>Halfling</option>
                            <option value='Half-Orc'>Half-Orc</option>
                            <option value='Tiefling'>Tiefling</option>

                                
                        </select>
                        Class:<select id="charClass">
                            <option value='Wizard'>Wizard</option>
                            <option value="Fighter">Fighter</option>
                            <option value="Rogue">Rogue</option>
                            <option value="Cleric">Cleric</option>
                        </select>
                        <button id="calcStats">Calculate Stats</button>
                        <div id="messageBox"></div>
                    </div>

                </h3>
            </form>

        </div>
        <div class="container">
            <h2>Stats</h2>
            <table class="table table-dark table-responsive table-bordered" >
                <thead>
                    <tr>
                        <th>Arcane</th>
                        <th>Martial</th>
                        <th>Deception</th>
                        <th>Devotion</th>
                        <th>Hand</th>
                        <th>Gold</th>
                        <th>Max HP</th>
                    </tr>
                </thead>
                <tbody id='stats'>
                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>   
                </tbody>
            </table>


        </div>

        <script>
            var _name = document.getElementById("charName").value;
            var _race = document.getElementById("charRace").value;
            var _class = document.getElementById("charClass").value;
            // not implimented var _exp = parseInt(document.getElementById("charExp").value);
            var stats = [];
            var toggle=1;
/*           function calcStats(){
                _name = document.getElementById("charName").value;
                _race = document.getElementById("charRace").value;
                _class = document.getElementById("charClass").value;

                // not implimented _exp = parseInt(document.getElementById("charExp").value);
                document.getElementById("messageBox").innerHTML = _name + ' a ' + _race + ' ' +_class;

                var Dwarf=[2,2,2,3,2,2,3]
                var Elf=[3,1,2,2,3,2,1]
                var Human = [2,2,2,2,2,2,2]
                var raceStats=[]
                if (_race==='Human'){
                    raceStats=Human
                }else if(_race==='Elf'){
                    raceStats=Elf
                }else{
                    raceStats=Dwarf
                }
                console.log(_class)
                var Wizard = [2,-1,-1,-1,2,2,4]
                var Cleric = [-1,-1,0,2,2,2,6]
                var Rogue = [-1,0,2,-1,1,2,7]
                var Fighter = [-1,2,-1,-1,1,0,8]
                var classStats =[]
                console.log(classStats)
                if (_class === 'Fighter'){
                    classStats = Fighter
                }else if (_class === 'Cleric'){
                    classStats = Cleric
                }else if (_class === 'Rogue'){
                    classStats = Rogue
                }else{
                    classStats = Wizard
                }
                console.log(classStats)




                var x=document.getElementById('stats').rows;
                var y=x[0].cells;
                for (i=0; i<y.length;i++){
                    y[i].innerHTML=raceStats[i]+classStats[i];
                }
            }
*/

        
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src='/js/app.js'></script>
    </body>

</html>